# Server
PORT=3000
NODE_ENV=development

# Email (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=noreply@yourfreight.com
EMAIL_FROM_NAME=Project International Trade

# Notion
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxx
NOTION_BOOKINGS_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_QUOTES_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_CUSTOMERS_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_BLOG_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx
SLACK_BOT_TOKEN=xoxb-xxxxxxxxxxxxxxxxx
SLACK_CHANNEL=#freight-alerts

# Line OA
LINE_CHANNEL_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LINE_CHANNEL_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
LINE_OA_ID=@yourlineoa
